<p>
  <%= commentable.text %>
  <br />
  <%= " - contributed by #{commentable.submitter.name}" %>
</p>
<%= render partial: "shared/comment/form_new",
                      locals: {
                                new_comment: new_comment,
                                submit_text: "Submit Reply"
                              }  %>
