<div class="show_and_edit">
  <h1>Profile</h1>
  <div class="tabbed">
    <div class="label">user:</div>
    <div><%= user.name %></div>
  </div>
  <div class="tabbed">
    <div class="label">created:</div>
    <div><%= time_ago_in_words(user.created_at) %> ago</div>
  </div>
  <div class="tabbed">
    <div class="label">karma:</div>
    <div>TBD</div>
  </div>
  <div class="tabbed">
    <div class="label">about:</div>
    <div><%= user.about %></div>
  </div>
  <div class="tabbed">
    <div class="label">email:</div>
    <div><%= mail_to(user.email) %></div>
  </div>
</div>
