<div class="vote_button_wrapper">
  <%= render partial: "shared/vote/edit",
    locals: {
              vote: parent.users_vote(current_user),
              vote_type: "up",
              one: 1
            } %>
  <i class="fa fa-chevron-circle-down not-clickable"></i>
  <%= render partial: "shared/vote/delete",
    locals: {
              vote: parent.users_vote(current_user)
            } %>
</div>
