<div class="vote_button_wrapper">
  <i class="fa fa-chevron-circle-up not-clickable"></i>
  <%= render partial: "shared/vote/edit",
    locals: {
              vote: parent.users_vote(current_user),
              vote_type: "down",
              one: -1
            } %>
  <%= render partial: "shared/vote/delete",
    locals: {
              vote: parent.users_vote(current_user)
            } %>
</div>
