<div class="vote_button_wrapper">
  <i class="fa fa-chevron-circle-up not-clickable"></i>
  <i class="fa fa-chevron-circle-down not-clickable"></i>
  <i class="fa fa-times-circle not-clickable"></i>
</div>
