<%= comment.text %>
<%= link_to "Reply to #{comment.submitter.name}", post_comment_reply_path(post.id, comment.id) %>
<br />
<% if comment.comments.exists? %>
    <div class="replies-posted">
      <% comment.comments.each do |reply_comment| %>
        <%= render partial: "comment", locals: { comment: reply_comment } %>
      <% end %>
  </div>
<% end %>
