<% posts.each do |post| %>
  <br />
  <div class="vote_and_post_wrapper">
    <%= render partial: "shared/vote_presenter", locals: { post: post } %>
    <%= render partial: "post_presenter", locals: { post: post } %>
  </div>
<% end %>
