<%= render partial: "post_presenter_show" %>
<%= render partial: "shared/comment/form_new",
                    locals: { submit_text: "Comment On Post" }  %>
<% if post.comments.exists? %>
  <div class="comments-posted">
    <% post.comments.each do |direct_comment| %>
      <% if direct_comment.id.present? %>
        <%= render partial: "shared/comment/show_partial",
                            locals: { comment: direct_comment } %>
      <% end %>
    <% end %>
  </div>
<% end %>
