/*
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/


@import "bootstrap";
@import "font-awesome";

body {
  padding: 2em;
  max-width: 700px;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #FF5900 solid;
}

a {
  color: #FF5900;
}

.show_and_edit {
  margin-top: 1rem;
}

.show_and_edit > input {
  width: 40%;
}

.tabbed {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.tabbed > .label, .tabbed > label, .tabbed  > .field_with_errors:first-child {
  width: 30%;
}

.tabbed > div:nth-child(2), .tabbed  > .field_with_error:nth-child(2) {
  max-width: 50%;
}

.table_headers > th:first-child {
  min-width: 150px;
}

.col2 {
  max-width: 450px;
}

.col2 > a {
  word-wrap: break-word;
}

.actions input {
  margin-top: 20px;
  width: 5em;
}

.downcase {
  text-transform: lowercase;
}

.nav_always_show {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}

.nav_always_show span:nth-child(2) {
  padding-right: 10px;
}

.nav_always_show img {
  height: 100%;
  width: auto;
  padding-right: 10px;
}

p {
  margin-bottom: 0rem;
}

.center {
  max-width: 300px;
  text-align: center;
  margin: 10px 0;
}

#comment_text {
  width: 100%;
  max-width: 500px;
}

.alert-alert, .alert-notice {
  margin-top: 1rem;
  color: #170838;
  background-color: #ff590080;
  border-color: #ff590080;
  max-width: 500px;
}

.alert {
  margin-top: 1rem;
}

.inline-alert {
  margin-top: 0.5rem;
}

.comments-posted {
  border-color: #FF5900;
  border-style: dashed;
  border-width: 2px 0;
  margin: 10px 0;
}

.replies-posted {
  margin-left: 50px;
}

.my-button {
  border: none;
  padding: 2px;
}

.fa {
  font-size: 12px;
}

.vote_button_wrapper {
  display: inline;
}

.clickable {
  color: #FF5900;
}

.not-clickable {
  color: #b9b9b9;
}

.head_line {
  padding-left: 35px;
  text-indent: -35px;
  display: inline;
}
.by_line {
  text-indent: 35px;
}

#new_vote {
  display: inline;
}
