/*
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/

@import "bootstrap";
@import "font-awesome";

body {
  padding: 2em;
  max-width: 700px;
  margin: auto;
  color: #5a5959;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #FF6600 solid;
}

a {
  color: #FF6600;
}

a:hover {
  color: #5a5959;
}

.match-width, .password {
  margin-top: 2em;
}

input, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 10px;
  border: #cbcbcb 1.5px solid;
  color: #5a5959;
}

.match-width input, .match-width textarea{
  width: 100%;
}

.center-links{
  text-align: center;
  margin-top: 20px;
}

.show_and_edit {
  margin-top: 1rem;
}

.show_and_edit > input {
  width: 40%;
}

.tabbed {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabbed > .label, .tabbed > label, .tabbed  > .field_with_errors:first-child {
  width: 20%;
}

.tabbed > input, .tabbed > textarea {
  width: 80%;
}

.tabbed > div:nth-child(2), .tabbed  > .field_with_error:nth-child(2) {
  max-width: 50%;
}

.table_headers > th:first-child {
  min-width: 150px;
}

.inputs_wide, .actions .inputs_wide {
  width: 25em;
}

.col2 {
  max-width: 450px;
}

.col2 > a {
  word-wrap: break-word;
}

.center_votes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
}

.actions {
  display: flex;
}

.actions input {
  width: 50%;
  margin: auto;
  margin-top: 60px;
}

.downcase {
  text-transform: lowercase;
}

.nav_always_show {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.nav_always_show span:nth-child(2) {
  padding-right: 10px;
}

.nav_always_show img {
  // height: 100%;
  width: 10%;
  padding-right: 5px;
}

p {
  margin-bottom: 0rem;
}

.center {
  max-width: 300px;
  text-align: center;
  margin: 10px 0;
}

#comment_text {
  width: 100%;
  // max-width: 500px;
}

.alert-alert, .alert-notice {
  margin-top: 1rem;
  color: #170838;
  background-color: #FF660080;
  border-color: #FF660080;
  max-width: 500px;
}

.alert {
  margin-top: 1rem;
}

.inline-alert {
  margin-top: 0.5rem;
}

.comments-posted {
  border-color: #FF6600;
  border-style: dashed;
  border-width: 2px 0;
  margin: 10px 0;
}

.replies-posted {
  margin-left: 50px;
}

.vote_and_post_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vote_wrapper, .vote_wrapper_comment {
  margin-right: 20px;
  margin-top: 2px;
}

.vote_wrapper {
  width: 58px;
}

.vote_wrapper_comment {
  min-width: 58px;
  width: auto;
}

.vote_count, .vote_count_comment {
  font-size: 14px;
  padding-right: 2.5px;
}

.vote_count {
  width: 20px;
  text-align: right;
}

.vote_and_post_wrapper > .vote_wrapper > .vote_count {
  width: 58px;
}

.vote_count_comment {
  display: inline;
}

.vote_button_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons_on_show > .vote_button_wrapper {
  width: 80px;
  margin-left: -8px;
}

.inliner {
  display: inline;
  border: solid red 2px;
}

.vote_wrapper_comment > .vote_button_wrapper {
  width: 80px;
}

.vote_count_comment {
  min-width: 20px;
  text-align: right;
}

.vote_wrapper_comment {
  min-width: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inliner > .vote_button_wrapper {
  width: 80px;
}

#delete:hover {
  text-decoration: none;
}

.clickable, .not-clickable {
  border: none;
  padding: 2px;
  display: inline;
  background: white;
}

.clickable {
  color: #FF6600;
}

.not-clickable {
  color: #b9b9b9;
}

.vote_button_wrapper > form {
  display: inline;
}
